{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}
    <div class="container mx-auto p-4">
        <h1 class="text-4xl font-bold">FormsLite</h1>
        <p class="mt-4">Enter your email to get a login link</p>
        <form method="post" action="{% url 'dashboard:sign_in' %}">
            <p>Sign in</p>
            {% csrf_token %}
            <input type="text" name="email" placeholder="Email" required>
            <button type="submit">Sign in</button>
            {% if error %}
                <div id="error">{{error}}</div> 
            {% endif %}
            
        </form>
    </div>
{% endblock %}